#board {
	--user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#board-mode {
	z-index: 9999;
	display: flex;
	flex-direction: row;
	position: absolute;
	margin: var(--window-content-margin);
	padding: var(--blurb-padding);
	top: 0;
	left: 0;
	gap: var(--board-mode-gap);
	align-items: center;
	/* https://stackoverflow.com/a/75914371 */
	background-color: color-mix(in srgb, var(--background), transparent var(--blurb-background-opacity));
	backdrop-filter: blur(var(--blurb-background-blur));
	border-radius: var(--board-mode-border-radius);
	font-size: 11px;
	font-weight: 700;
	max-height: 10px;
}

#board-mode-icon {
	--icon: url(/src/assets/board/mode-normal.svg);
	width: 10px;
	height: 10px;
}

#board-mode-text {
	transform: translate(0px, 0px);
}

#board-transform {
	position: absolute;
}

#board-content {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: black;
}

.test {
	position: absolute;
	width: 10px;
	height: 10px;
	outline-color: #000000cc;
	outline-style: solid;
	outline-width: 0px;
}

.test:hover {
	cursor: pointer;
	outline-width: 2px;
}