/* FONTS.
*/

@import url(/src/assets/fonts/DMSerifDisplay.css);
@import url(/src/assets/fonts/OpenDyslexicNerd.css);
@import url(/src/assets/fonts/SpaceGrotesk.css);
@import url(/src/assets/fonts/SpaceMonoNerd.css);

@import url(/src/assets/fonts/NerdFont.css);

:root {
	--user-select: none;

	--color-cyan    : #00AEEF;
	--color-magenta : #EC008C;
	--color-yellow  : #FFF200;
	--color-key     : #231F20;

	--color : var(--color-key);
	--background : #FFFFFF;

	--window-titlebar-drag-margin   : 4px;
	--window-title-font-size        : 16px;
	--window-titlebar-margin        : 1px;
	--window-title-margin           : 6px;
	--window-titlebar-button-width  : 40px;
	--window-titlebar-button-height : 30px;
	--window-titlebar-height        : calc(var(--window-titlebar-button-height) + var(--window-titlebar-margin) * 2);

	--window-content-margin : 3px;

	--blurb-background-opacity : 15%;
	--blurb-background-blur    : 3px;
	--blurb-padding            : 5px 5px;

	--board-mode-gap           : 5px;
	--board-mode-border-radius : 10px;

	font-family: "SpaceGrotesk";
	font-weight: 400;
	font-size: 16px;

	color: var(--color-key);
}

/* UTIL.
*/

* {
	-webkit-touch-callout: var(--user-select);
    -webkit-user-select: var(--user-select);
    -khtml-user-select: var(--user-select);
    -moz-user-select: var(--user-select);
    -ms-user-select: var(--user-select);
    user-select: var(--user-select);
}

/*#region // MOUSE.*/

[cursor="default"]
{ cursor: default !important; }

[cursor="none"]
{ cursor: none !important; }

[cursor="help"]
{ cursor: help !important; }

[cursor="pointer"]
{ cursor: pointer !important; }

[cursor="progress"]
{ cursor: progress !important; }

[cursor="wait"]
{ cursor: wait !important; }

[cursor="text"]
{ cursor: text !important; }

[cursor="vertical-text"]
{ cursor: vertical-text !important; }

[cursor="move"]
{ cursor: move !important; }

[cursor="not-allowed"]
{ cursor: not-allowed !important; }

[cursor="grab"]
{ cursor: grab !important; }

[cursor="grabbing"]
{ cursor: grabbing !important; }

[cursor="all-scroll"]
{ cursor: all-scroll !important; }

[cursor="col-resize"]
{ cursor: col-resize !important; }

[cursor="row-resize"]
{ cursor: row-resize !important; }

[cursor="n-resize"]
{ cursor: n-resize !important; }

[cursor="e-resize"]
{ cursor: e-resize !important; }

[cursor="s-resize"]
{ cursor: s-resize !important; }

[cursor="w-resize"]
{ cursor: w-resize !important; }

[cursor="ne-resize"]
{ cursor: ne-resize !important; }

[cursor="nw-resize"]
{ cursor: nw-resize !important; }

[cursor="se-resize"]
{ cursor: se-resize !important; }

[cursor="sw-resize"]
{ cursor: sw-resize !important; }

[cursor="ew-resize"]
{ cursor: ew-resize !important; }

[cursor="ew-resize"]
{ cursor: ew-resize !important; }

[cursor="ns-resize"]
{ cursor: ns-resize !important; }

[cursor="nesw-resize"]
{ cursor: nesw-resize !important; }

[cursor="nwse-resize"]
{ cursor: nwse-resize !important; }

[cursor="zoom-in"]
{ cursor: zoom-in !important; }

[cursor="zoom-out"]
{ cursor: zoom-out !important; }

/*#endregion MOUSE.*/

.container {
	position: relative;
}

.centerer {
	position: absolute;
	top: 50%;
	left: 50%;
}

.svg-icon {
	position: relative;
}

.svg-icon::before {
	z-index: -2;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--background);
}

.svg-icon::after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	mask-image: var(--icon);
	-webkit-mask-image: var(--icon);
	mask-size: 100%;
	-webkit-mask-size: 100%;
	background-color: var(--color);
}