:root {
	--window-titlebar-drag-margin: 4px;
	--window-title-font-size: 16px;
	--window-titlebar-margin: 1px;
	--window-title-margin: 6px;
	--window-titlebar-button-width: 40px;
	--window-titlebar-button-height: 30px;
	--window-titlebar-height: calc(var(--window-titlebar-button-height) + var(--window-titlebar-margin) * 2);
}

html {
	width: 100vw;
	height: 100vh;

	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* TITLEBAR.
*/

#window-titlebar {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	z-index: 9999;
	height: var(--window-titlebar-height);
	user-select: none;
	display: flex;
	justify-content: flex-end;
	width: 100vw;
	height: var(--window-titlebar-height);
	background-color: #FFFFFF;
}

#window-title-section {
	position: relative;
	flex-grow: 1;
}

#window-title {
	pointer-events: none;
	display: inline-flex;
	align-items: center;
	height: 100%;
	margin: 0px var(--window-title-margin);
	font-family: "DMSerifDisplay";
	font-style: normal;
	font-size: var(--window-title-font-size);
}

#window-titlebar [data-tauri-drag-region] {
	position: absolute;
	right: 0;
	bottom: 0;
	width: calc(100% - var(--window-titlebar-drag-margin));
	height: calc(100% - var(--window-titlebar-drag-margin));
}

#window-titlebar[maximized] [data-tauri-drag-region] {
	width: 100%;
	height: 100%;
}

#window-titlebar button {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: var(--window-titlebar-button-width);
	height: var(--window-titlebar-button-height);
}

#window-titlebar button::before {
	z-index: -2;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
}

#window-titlebar button::after {
	z-index: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	mask-size: 100%;
	-webkit-mask-size: 100%;
	background: black;
}

#window-titlebar button:hover::after {
	background: white;
}

#window-titlebar button:hover::before {
	background: black;
}

#window-titlebar .minimize::after {
	mask-image: url(/src/assets/window/minimize.svg);
	-webkit-mask-image: url(/src/assets/window/minimize.svg);
}

#window-titlebar .maximize::after {
	mask-image: url(/src/assets/window/maximize.svg);
	-webkit-mask-image: url(/src/assets/window/maximize.svg);
}

#window-titlebar[maximized] .maximize::after {
	mask-image: url(/src/assets/window/unmaximize.svg);
	-webkit-mask-image: url(/src/assets/window/unmaximize.svg);
}

#window-titlebar .close::after {
	mask-image: url(/src/assets/window/close.svg);
	-webkit-mask-image: url(/src/assets/window/close.svg);
}

/* CONTENT.
*/

#window-content {
	position: relative;
	flex-grow: 1;
	background-color: white;
}

#board-view {
	position: absolute;
	width: 10px;
	height: 10px;
	offset: -5px;
	background-color: black;
}

.test {
	position: absolute;
	width: 10px;
	height: 10px;
	outline-color: #000000cc;
	outline-style: solid;
	outline-width: 0px;
}

.test:hover {
	cursor: pointer;
	outline-width: 2px;
}