html {
	width: 100vw;
	height: 100vh;

	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/*#region // LOADING SCREEN.*/

#loading-screen {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.35s;
}

:root[loading] #loading-view {
	opacity: 1;
	pointer-events: auto;
}

/*#endregion LOADING SCREEN.*/

/*#region // TITLEBAR.*/

#window-titlebar {
	z-index: 9999;
	height: var(--window-titlebar-height);
	user-select: none;
	display: flex;
	justify-content: flex-end;
	width: 100vw;
	height: var(--window-titlebar-height);
	background-color: #FFFFFF;
}

#window-title-section {
	position: relative;
	flex-grow: 1;
}

#window-title {
	pointer-events: none;
	display: inline-flex;
	align-items: center;
	height: 100%;
	margin: 0px var(--window-title-margin);
	font-family: "DMSerifDisplay";
	font-style: normal;
	font-size: var(--window-title-font-size);
}

#window-titlebar [data-tauri-drag-region] {
	position: absolute;
	right: 0;
	bottom: 0;
	width: calc(100% - var(--window-titlebar-drag-margin));
	height: calc(100% - var(--window-titlebar-drag-margin));
}

#window-titlebar[maximized] [data-tauri-drag-region] {
	width: 100%;
	height: 100%;
}

#window-titlebar button {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: var(--window-titlebar-button-width);
	height: var(--window-titlebar-button-height);
}

#window-titlebar button:hover {
	--color: #FFFFFF;
	--background: var(--color-key);
}

#window-titlebar .minimize {
	--icon: url(/src/assets/window/minimize.svg);
}

#window-titlebar .maximize {
	--icon: url(/src/assets/window/maximize.svg);
}

#window-titlebar[maximized] .maximize {
	--icon: url(/src/assets/window/unmaximize.svg);
}

#window-titlebar .close {
	--icon: url(/src/assets/window/close.svg);
}

/*#endregion TITLEBAR.*/

/*#region // CONTENT.*/

#window-content {
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	background-color: white;
}

/*#endregion CONTENT.*/